$font-color: white;
$theme-color: darken(skyblue, 12%);


@mixin flex-center($direction: row, $wrap: wrap) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: center;
    align-items: center;
}

// koniec zmiennych i mixinów

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    @include flex-center(column, nowrap);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: $font-color;
}

#root {
    @include flex-center(column, nowrap);
    width: 100%;
    flex-grow: 1;
}

.App {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 400px 1fr
}

.header {
    @include flex-center();
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 1.5 0rem;

    &__h1 {
        font-size: 4.75rem;
        color: $theme-color;
        text-align: center;
    }

    &__logo {
        width: 200px;
        height: auto;
    }
}

.nav {
    grid-row: 1 / span 2;
    background-color: $theme-color;
    font-size: 1.35rem;
    padding: 1.5rem;
}

span{
    font-size: 2.5rem;
    margin: 0.25rem;
    cursor: pointer;
}